
  
*
{
	margin:0px;
	
}



.backimg
{
	background-image:url("../img/img3.jpg");
	width:100vw;
	height:200vh;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:white;
}




.educationbox
{
	width:500px;
	height:800px;
	background-color:rgba(0,0,0,0.6);
	border-radius:20px;
	
}

img
{
	width:100px;
	height:100px;
	border-radius:80px;
	position:relative;
	top:-50px;
}

.educationtext 
{
	font-size:20px;
	font-family:sans-serif;

}
.home
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #05548d;
	border-radius:30px;
	padding:10px 80px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
	color:white;
	
}
	
.home:hover
{
	background-color:#31A6FF;
	color:#fff;
}