
  
*
{
	font-family:'cardo',serif;
	margin:0px;
	padding:0px;
}


.backimg
{   
    background-image:url("../img/background1.jpg");
	width:100%;
	height:200vh;
    background-size:cover;
	display:flex;
	color:white;
	align-items:center;
	justify-content:center;
	text-align:center;
}


.profilebox
{
	background-color:rgba(0,0,0,0.7);
	width:500px;
	height:790px;
	border-radius:50px;
	margin-top: 3%;
}

img
{
	width:100px;
	height:100px;
	border-radius:80px;
	border:1px solid white;
	margin-top:20px;
}


.profiletext
{
	padding-top:10px;
}

.profiletext h2
{
	font-weight:lighter;
}

.profiletext h1
{
	font-weight:lighter;
}

.profiletext h3
{
	font-weight:lighter;
}


i
{
	color:white;
}

i:hover
{
   color:#31A6FF;

}

a
{
	text-decoration:none;
	color:white;
}

.home
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #05548d;
	border-radius:30px;
	padding:10px 80px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms;
	top:30%;
}
	
.home:hover
{
	background-color:#31A6FF;
	color:#fff;
}

.education
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #0c0c0c;
	border-radius:30px;
	padding:10px 50px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.education:hover
{
	background-color:#31A6FF;
	color:#fff;
}
	

	
.skill
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #05548d;
	border-radius:30px;
	padding:10px 80px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.skill:hover
{
	background-color:#31A6FF;
	color:#fff;
}


.experience
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #030303;
	border-radius:30px;
	padding:10px 50px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.experience:hover
{
	background-color:#31A6FF;
	color:#fff;
}


.contact
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #05548d;
	border-radius:30px;
	padding:10px 50px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.contact:hover
{
	background-color:#31A6FF;
	color:#fff;
}
	
.hireme
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:5px solid #50a15d;
	border-radius:30px;
	padding:10px 70px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.hireme:hover
{
	background-color:#12f14a;
	color:#fff;
}
.certificate
{
	font-family:"proxima nova";
	font-weight:100;
	font-size:20px;
	text-align:center;
	border:4px solid #05548d;
	border-radius:30px;
	padding:10px 50px;
	-webkit-transition-duration:200ms;
	transition-duration:200ms
	
}
	
.certificate:hover
{
	background-color:#31A6FF;
	color:#fff;
}

	
	
	

	




