.main{
    background-color:rgb(130, 169, 255);
    height: 100vh;
    width: 100%;
  
}
/* .container{
    background-color:rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: xx-large;

} */

/* .card{
    background-color:brown;
}
 */




